/* Estilos para el contenedor principal */
.update-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para el título */
  .update-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Estilos para el formulario */
  .update-form {
    display: flex;
    flex-direction: column;
  }
  
  /* Estilos para los inputs */
  .update-input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  /* Estilos para el botón de selección de avatar */
  .update-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Estilos para el avatar seleccionado */
  .update-avatar {
    max-width: 100px;
    margin-top: 10px;
  }
  
  /* Estilos para el mensaje de error */
  .error-message {
    color: #ff0000;
    margin-bottom: 10px;
  }
  
  /* Estilos para el modal */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  /* Estilos para el botón de cierre del modal */
  .close-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  /* Estilos para el contenedor de imágenes */
  .image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }
  
  /* Estilos para las imágenes */
  .update-avatar {
    max-width: 100%;
    height: auto;
    cursor: pointer;
    border-radius: 5px;
  }
  